<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>E-Prescribe</title>
  <meta name="Doctor's Bay" content="Doctor's Bay">

  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body style="display: flex; flex-direction: column;align-items: center; justify-content: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
  <!-- your content here... -->
  {% comment %} <img src="http://gitbase.sytes.net/logo2.png" alt="img"> {% endcomment %}
  <h1>No User Found</h1>
  {% comment %} <a href="http://gitbase.sytes.net/login">Login Here!</a> {% endcomment %}
</body>
</html>